<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--首页滚动游戏展示页面-->
<header id="header" th:fragment="header">
    <!--    需要引入如下的css样式-->
    <!--    <link href="/css/main.css" rel="stylesheet">-->
    <!--    <link rel="stylesheet" href="/css/searchtype.css">-->
    <!--    <link href="/css/font-awesome.min.css" rel="stylesheet">-->
    <div style="display: block">
        <textarea hidden rows="5" id="text" style="width: 560px;" placeholder=""></textarea>
        <nav id="headerNav" class="navbar navbar-inverse" role="banner"
             style="position:fixed;top:0px;left:0px;width: calc(100%);z-index: 999">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/index" style=" font-family: 新宋体;"><i><img id="logo"
                                                                                             src="/images/logo.png"
                                                                                             width="30px" height="30px"
                                                                                             style="margin-top: -6px;"
                                                                                             alt=""></i>
                        7zGame</a></div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">

                        <li><input id="searchAll" class="search__input" type="text" placeholder="搜索本站"></li>

                        <li id="first" class="active"><a id="hl1" href="">首页</a></li>
                        <li id="company"><a href="/companies">游戏厂商</a></li>
                        <li id="compilation"><a href="/compilations">合辑</a></li>
                        <li id="self"><img src="/images/user.jpg" height="30" width="30"
                                           style="border-radius:20px"/><a href="/account/myself"
                                                                          th:text="${identity}"></a>


                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="height:80px "></div>
    </div>

    <!--滚动的logo-->
    <script>
        $(window).scroll(function () {
            let theta = $(window).scrollTop() / 600 % Math.PI;
            $('#logo').css({
                transform: 'rotate(' + theta + 'rad)'
            });
            // $('#searchAll').bind('keyup', function (event) {
            //     if (event.keyCode == "13") {
            //         alert("=="+$("#searchAll").val());
            //         location.href = "/search/" + $("#searchAll").val();
            //
            //     }
            // });

        });
    </script>
</header>

<!--游戏二级分类-->
<div th:fragment="sort" class="col-lg-12">
    <nav id="nav">
        <ul id="ul">
            <li class="liDemo">
                <a href="/classes/射击">射击</a>
            </li>
            <li class="liDemo">
                <a href="/classes/多人">多人</a>
            </li>
            <li class="liDemo">
                <a href="/classes/动作">动作</a>
            </li>
            <li class="liDemo">
                <a href="/classes/冒险">冒险</a>
            </li>
            <li class="liDemo">
                <a href="/classes/体育">体育</a>
            </li>
            <li class="liDemo">
                <a href="/classes/独立">独立</a>
            </li>
            <li class="liDemo">
                <a href="/classes/竞速">竞速</a>
            </li>
            <li class="liDemo">
                <a href="/classes/策略">策略</a>
            </li>
            <li class="liDemo">
                <a href="/classes/角色">角色</a>
            </li>
            <li class="liDemo">
                <a href="/classes/VR">VR</a>
            </li>
            <li class="liDemo">
                <a href="/classes/单机">单机</a>
            </li>

        </ul>
    </nav>

</div>

<!--页脚-->
<footer th:fragment="footer" class="footer"
        style="margin-top: 20px;background-color: black;box-shadow:0px 0px 1px 1px black ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <div style="color: red">本网站为个人学习开发使用，一切游戏商品皆为虚拟商品</div>
                <div style="color: red">网站中的部分css样式由<a href="http://www.jq22.com/daima">Jquery插件库网站</a>提供并编辑制成</div>
                <div style="color: red">本系统的支付测试板块不会产生任何费用请放心使用</div>

            </div>

            <div class="col-lg-12" style="margin-top: 20px">

                <div class="col-lg-4" style="height: 250px">
                    <div><img src="/images/footer.png" alt=""
                              style="float:left;margin-top: 80px;
                        width: 180px; height: 70px"></div>
                    <div style="float:left;float:left;width: 2px;height: 220px; background: #9f6530;"></div>
                    <div style="margin-top: 25px;margin-left: 40px;float:left;float:left;height: 220px;text-align: center">
                        <div>微信</div>
                        <img src="/images/whchart.jpg" alt="" style="width: 120px;height: 120px">
                    </div>
                     
                </div>

                <div class="col-lg-8" style="height: 250px">
                    <div class="col-lg-4" style="height: 250px">
                        <div style="font-size: 17px">个人链接</div>
                        <div style=" ">
                            <div style="padding-top:20px ;color: darkgrey">GitHub</div>
                            <div style="padding-top:20px ;color: darkgrey">LeetCode</div>
                            <div style="padding-top:20px ;color: darkgrey">CSDN</div>
                            <div style="padding-top:20px ;color: darkgrey">NowCoder</div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="height: 250px">
                        <div style="font-size: 17px">其他联系方式</div>
                        <div style=" ">
                            <div style="padding-top:10px ">PHONE</div>
                            <div style="padding-top:10px ;color: darkgrey">17551403371</div>
                            <div style="padding-top:10px ">E-MAIL</div>
                            <div style="padding-top:10px ;color: darkgrey">17364453059@163.com</div>
                            <div style="padding-top:10px ">QQ</div>
                            <div style="padding-top:10px ;color: darkgrey">3504566107</div>

                        </div>


                    </div>
                    <div class="col-lg-4" style="height: 250px">
                        <div style="font-size: 17px">友情链接</div>
                        <div style=" ">
                            <div style="padding-top:10px ">
                                <a href="http://www.jq22.com/daima" style="color: darkgrey">JQuery插件库</a>
                            </div>
                            <div style="padding-top:10px ">
                                <a href="https://icomoon.io/" style="color: darkgrey">IcoMoon</a>
                            </div>
                            <div style="padding-top:10px ">
                                <a href="https://codepen.io/" style="color: darkgrey">CodePen</a>
                            </div>
                            <div style="padding-top:10px ">
                                <a href="https://www.highcharts.com.cn/" style="color: darkgrey">HighCharts</a>
                            </div>
                            <div style="padding-top:10px ">
                                <a href="http://www.codeceo.com/" style="color: darkgrey">CodeCeo</a>
                            </div>
                            <div style="padding-top:10px ">
                                <a href="https://www.juhe.cn/" style="color: darkgrey">聚合数据</a>
                            </div>


                        </div>


                    </div>


                </div>


            </div>


        </div>

    </div>


</footer>

<!--游戏列表-->
<div th:fragment="gameList"
     style="margin-top:60px;width: 100%;background:linear-gradient(rgba(35,53,93,0.51) 0%, rgba(35,53,93,0) 60%)">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10" style="margin:3px 0px 0px;padding:10px; font-size: 17px">
                <div class="col-lg-12" style="margin-top: -36px;padding-bottom: 0;font-size: 15px">
                    <button style="background-color: rgba(255,0,0,0);padding-bottom: 0;border: none">热销商品</button>
                    <button style="background-color: rgba(35,53,93,0.51);padding-bottom: 0;border: none;border-radius: 6px 6px 0px 0px ">
                        新品
                    </button>
                    <button style="background-color: rgba(255,0,0,0);padding-bottom: 0;border: none">优惠</button>
                </div>
                <div class="col-lg-12" style="height: 800px">
                    <div class="col-lg-8 ">
                        <div th:each="l,stat:${list}">
                            <a th:href="'/games/'+${l.gid}">
                                <div class="gameList" th:id="'game'+${stat.count}"
                                     style="width: 97%;margin-bottom:11px;height: 70px;background-color: rgba(184,176,177,0.05)">
                                    <div style="float:left;width: 160px;height: 100%;background-color: #000000">
                                        <img th:src="'/upload/gameImg/'+${l.cover}" alt="" width="100%"
                                             height="100%">
                                    </div>
                                    <div style="float:left;padding:3px;width: 350px;height:100%;font-size: 15px">
                                        <div style="float: top;height: 70%" th:text="${l.name}"></div>
                                        <div style="float: top;height: 30%;color:  #a4a4a4;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">
                                                <span th:each="tag,stat:${l.tags}" th:text="${tag}"
                                                      style="font-weight: normal;color: #5d615d;margin-right: 10px"></span>
                                        </div>
                                    </div>
                                    <div style="float:right;width: 100px;height:100%;">
                                        <div th:if="${l.discount}!=''" th:text="${l.discount}"
                                             style="margin-top: 25px;float:left;width:45px;background-color: #008000;">
                                        </div>
                                        <div style="margin-top:9px;padding: 5px;height: 100%;float: right">
                                            <div th:text="${l.discount}==''?'':${l.cost}" style="height: 21px;font-size: 13px;text-decoration: line-through;
                                                color: #a4a4a4;text-align: right;"></div>
                                            <div th:text="${l.price}"></div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-4"
                         style="padding:13px;height:100%;background:linear-gradient(rgba(55,78,167,0.18),
                             rgba(55,78,167,0.05));word-wrap:break-word;position: relative">
                        <div th:each="info,stat:${list}" th:id="'info-game'+${stat.count}" class="info-game" hidden
                             style="position: absolute">
                            <div style="font-size: 20px" th:text="${info.name}">
                            </div>
                            <div style="margin-top: 10px;padding: 4px;background-color: rgba(97,99,98,0.41);height: 50px;font-size: 13px">
                                <div>评分：<span th:text="${info.grade}"></span></div>
                                <div>发布时间：<span th:text="${info.format}"></span></div>
                            </div>
                            <div th:each="img,s:${info.imgArr}"
                                 style="margin-top:10px;height: 165px;box-shadow: 0px 0px 1px black;">
                                <img th:src="'/upload/gameImg/'+${img}" alt="" width="100%" height="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--本周畅销-->
<div th:fragment="weekHot" style="margin-top:60px;width: 100%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10" style="margin:3px 0px 0px;padding:10px; font-size: 17px">
                <!--本周畅销榜-->
                <div class="col-lg-12" style="margin-top: 60px;">
                    本周畅销榜
                </div>
                <div class="col-lg-12" style="padding-right: 30px;height: 370px">
                    <a th:href="'/games/'+${gameWeekTop.get(0).gid}">
                        <div class="col-lg-5"
                             style="height: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                            <figure class="card card--1"
                                    th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(0).cover}+');box-shadow: 0px 0px 10px 1px black;background-size: 200%;'">
                                <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(0).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(0).price}"></span>
                                        </span>
                                </figcaption>
                            </figure>
                        </div>
                    </a>
                    <div class="col-lg-7" style="height: 100%;">
                        <div class="col-lg-4" style="padding-left: 20px;height: 48%;">
                            <a th:href="'/games/'+${gameWeekTop.get(1).gid}">
                                <div class="col-lg-5"
                                     style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                                    <figure class="card card--1"
                                            th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(1).cover}+');box-shadow: 0px 0px 10px 1px black'">
                                        <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(1).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(1).price}"></span>
                                        </span>
                                        </figcaption>
                                    </figure>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" style="padding-left: 20px;height: 48%;">
                            <div style="height: 100%;border: 1px solid black;box-shadow: 0px 0px 2px black">
                                <a th:href="'/games/'+${gameWeekTop.get(2).gid}">
                                    <div class="col-lg-5"
                                         style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                                        <figure class="card card--1"
                                                th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(2).cover}+');box-shadow: 0px 0px 10px 1px black'">
                                            <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(2).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(2).price}"></span>
                                        </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-left: 20px;height: 48%;">
                            <div style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 2px black">
                                <a th:href="'/games/'+${gameWeekTop.get(3).gid}">
                                    <div class="col-lg-5"
                                         style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                                        <figure class="card card--1"
                                                th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(3).cover}+');box-shadow: 0px 0px 10px 1px black'">
                                            <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(3).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(3).price}"></span>
                                        </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-12" style="padding-left: 20px;height: 4%;"></div>
                        <div class="col-lg-4" style="padding-left: 20px;height: 48%;">
                            <div style="height: 100%;border: 1px solid black;box-shadow: 0px 0px 2px black">
                                <a th:href="'/games/'+${gameWeekTop.get(4).gid}">
                                    <div class="col-lg-5"
                                         style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                                        <figure class="card card--1"
                                                th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(4).cover}+');box-shadow: 0px 0px 10px 1px black'">
                                            <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(4).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(4).price}"></span>
                                        </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-left: 20px;height: 48%;">
                            <div style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 2px black">
                                <a th:href="'/games/'+${gameWeekTop.get(5).gid}">
                                    <div class="col-lg-5"
                                         style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                                        <figure class="card card--1"
                                                th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(5).cover}+');box-shadow: 0px 0px 10px 1px black'">
                                            <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(5).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(5).price}"></span>
                                        </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4" style="padding-left: 20px;height: 48%;">
                            <div style="height: 100%;border: 1px solid black;box-shadow: 0px 0px 2px black">
                                <a th:href="'/games/'+${gameWeekTop.get(6).gid}">
                                    <div class="col-lg-5"
                                         style="height: 100%;width: 100%;border: 1px solid black;box-shadow: 0px 0px 5px black">
                                        <figure class="card card--1"
                                                th:style="'--image-src: url(/upload/gameImg/'+${gameWeekTop.get(6).cover}+');box-shadow: 0px 0px 10px 1px black'">
                                            <figcaption>
                                        <span class="info">
                                            <h3 th:text="${gameWeekTop.get(6).name}"></h3>
                                            <span style="font-size: 14px;" th:text="${gameWeekTop.get(6).price}"></span>
                                        </span>
                                            </figcaption>
                                        </figure>
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--月度top4-->
<div th:fragment="monthHot" class="container" style="height: 370px">
    <div class="row">
        <div style="position: relative">

            <div style=" margin: 0 auto ;left: 50px;background-image: url('/images/back-new.jpg');
                height: 370px;width: 1080px; box-shadow:0 0 200px 90px  rgb(27,31,47) inset;position: absolute">
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10" style=" padding:10px; font-size: 17px;margin-top: 40px">
                <div id="m-n-game" style="margin-bottom: 10px">
                    <img src="images/banner1.jpg" alt="" height="35px" width="35px" style="border-radius: 50%">
                    <h3 style="font-weight: bolder;text-shadow: 0 1px 5px black;margin: 3px 0px">7zGame最近30天热门Top4</h3>
                    <p id="time" style="margin-top: 3px;color: green"></p>
                </div>

                <div th:each="monthTop,stat:${gameMonthTop}" class="col-lg-3 week" style=" height: 130px;padding: 5px;">
                    <a th:href="'/games/'+${monthTop.gid}">
                        <div style="box-shadow: 0px 0px 2px 2px black;height: 100%">
                            <div style="height: 80%">
                                <img th:src="'/upload/gameImg/'+${monthTop.cover}" alt="" width="100%" height="100%">
                            </div>
                            <div style="background-color: #7d7d7d;height: 20%">
                                <span style="float:right;font-size: 14px; " th:text="${monthTop.price}"></span>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>
