<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>游戏详情</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/searchtype.css">

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <style>
        body {
            background: #1b2838;

        }

        * {
            font-size: 13px;

            color: #a7a7a7;
            font-weight: normal;
        }

        .fontTitle {
            color: #e7e7e7;
        }

        strong {
            color: #e7e7e7;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #e7e7e7;
        }

        h2 {
            font-size: 14px;
        }

        .fontTitle {
            color: #e7e7e7;
        }

        .game_language_options {
            border-collapse: collapse;
        }

        .game_language_options td span {
            font-weight: bold;
            color: #67c1f5;
        }

        table.game_language_options {
            border-collapse: collapse;
        }

        .game_language_options tr {
            border-bottom: 1px solid #626366;
        }

        .game_language_options td {
            padding: 3px 0px 3px 0px;

        }

        .checkcol {
            width: 62px;
            text-align: center;
        }

        .game_area_sys_req_leftCol, .game_area_sys_req_rightCol {
            float: left;
            width: 300px;
        }

        .game_area_sys_req ul li {
            margin: 5px 0px 0px 0px;
            color: #cacaca;
        }

        .game_area_sys_req ul li strong {
            color: #7A7A7A;
        }

        ul {
            padding-left: 0px;
        }

        ul ul {
            list-style-type: none;

        }


        /*侧边滑动条*/
        ::-webkit-scrollbar {
            width: 6px;

        }

        ::-webkit-scrollbar-thumb {
            background-color: #0540a4;
            border-radius: 3px;

        }


    </style>

    <style>

        #nav {
            max-width: 80%;
            margin: 0 auto;
            padding: 50px 0px;
        }

        #nav #ul {
            text-align: center;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.91) 75%, rgba(255, 255, 255, 0) 100%);
            box-shadow: 0 0 10px rgba(39, 0, 255, 0.59), inset 0 0 1px rgba(255, 49, 0, 0);
        }

        #nav #ul .liDemo {
            display: inline-block;
        }

        #nav #ul .liDemo a {
            padding: 18px;
            font-family: "Open Sans";
            text-transform: uppercase;
            color: rgb(240, 252, 255);
            font-size: 17px;
            text-decoration: none;
            display: block;
        }

        #nav #ul .liDemo a:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 131, 0, 0.73);
        }


    </style>
</head>
<body>
<!--头部信息-->
<header th:replace="show/common::header"></header>
<!--头部信息end-->
<span id="bgValue" th:text="${game.info.bg}" hidden></span>
<div id="divBg" style="background: url(/images/gameimage.jpg) no-repeat center top">
    <div th:replace="show/common::sort"></div>
    <div class="container" style="width: 60%;">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 10px; ">
                <!--模块一：游戏商品展示-->
                <div class="col-lg-12" style="margin-bottom: 10px;">
                    <div class="col-lg-11 fontTitle" style="font-size: 26px;font-weight: bold"
                         th:text="${game.info.name}">
                    </div>
                </div>
                <div class="col-lg-12" style="ba2ckground-color: rgba(0,28,41,0.4);box-shadow: 0px 0px 8px #240065 ">
                    <div class="col-lg-8">
                        <div class="col-lg-12" style="height: 350px;background-color: black">
                            <div id="imageDiv" hidden style="width: 100%;height: 100%">
                                <img class="showImg" id="showImg1" th:src="'/upload/gameImg/'+${game.imgArr.get(0)}"
                                     alt=""
                                     width="100%"
                                     height="100%">
                                <img class="showImg" id="showImg2" hidden
                                     th:src="'/upload/gameImg/'+${game.imgArr.get(1)}" alt=""
                                     width="100%"
                                     height="100%">
                                <img class="showImg" id="showImg3" hidden
                                     th:src="'/upload/gameImg/'+${game.imgArr.get(2)}" alt=""
                                     width="100%"
                                     height="100%">
                                <img class="showImg" id="showImg4" hidden
                                     th:src="'/upload/gameImg/'+${game.imgArr.get(3)}" alt=""
                                     width="100%"
                                     height="100%">
                            </div>

                            <div id="videoDiv" style="height:100%;width: 100%;background-color: black">
                                <img id="poster" th:src="'/upload/gameImg/'+${game.info.cover}" alt=""
                                     style="position: absolute;width: 100%;height: 100%">
                                <video id="gameVideo"
                                       th:src="${game.info.videourl}"
                                       width="100%" height="100%"></video>
                            </div>
                        </div>

                        <div
                                style="float: left;height: 70px;margin-top:10px ;margin-right: 1%; width: 19.2%;position: relative">
                            <a href="">
                                <img id="video-div" th:src="'/upload/gameImg/'+${game.info.videoBg}" alt="" width="100%"
                                     height="100%" onmouseenter="changeShowVideo()">
                                <div style="position: absolute;top: 25%;left: 40%">
                                    <img src="/fonts/play.svg" alt="" width="30px" height="30px">
                                </div>
                            </a>
                        </div>
                        <div style="float: left;height: 70px;margin-top:10px ;margin-right: 1%; width: 19.2%">
                            <a href="">
                                <img class="img-div" th:src="'/upload/gameImg/'+${game.imgArr.get(0)}" alt=""
                                     width="100%"
                                     height="100%" onmouseenter="changeShowImg(1)">
                            </a>
                        </div>
                        <div style="float: left;height: 70px;margin-top:10px ;margin-right: 1%; width: 19.2%">
                            <a href="">
                                <img class="img-div" th:src="'/upload/gameImg/'+${game.imgArr.get(1)}" alt=""
                                     width="100%"
                                     height="100%" onmouseenter="changeShowImg(2)"></a>

                        </div>
                        <div style="float: left;height: 70px;margin-top:10px ;margin-right: 1%; width: 19.2%">
                            <a href="">
                                <img class="img-div" th:src="'/upload/gameImg/'+${game.imgArr.get(2)}" alt=""
                                     width="100%"
                                     height="100%" onmouseenter="changeShowImg(3)"></a>

                        </div>

                        <div style="float: left;height: 70px;margin-top:10px ; width: 19.2%;">
                            <a href="">
                                <img class="img-div" th:src="'/upload/gameImg/'+${game.imgArr.get(3)}" alt=""
                                     width="100%"
                                     height="100%" onmouseenter="changeShowImg(4)"></a>

                        </div>


                    </div>
                    <div class="col-lg-4" style="">
                        <div style="width: 95%;float: right;">
                            <div style="height: 150px;">
                                <img th:src="'/upload/gameImg/'+${game.info.cover}" alt="" width="100%" height="100%">
                            </div>
                            <div style="font-size:13px ;height: 86px;color:#c9c9c9;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden"
                                 th:text="${game.info.describes}">
                            </div>
                            <div style="float: left;margin-top:10px;font-size:13px;width: 30%;color: #7a7a7a">最新测评</div>
                            <div style="float: left;margin-top:10px;font-size:13px;width: 60%"><a href="">特别好评<span
                                    style="color: #7a7a7a">(0)</span></span></a></div>
                            <div style="float: left;margin-top:2px;font-size:13px;width: 30%;color: #7a7a7a">全体总评</div>
                            <div style="float: left;margin-top:2px;font-size:13px;width: 60%"><a href="">特别好评<span
                                    style="color: #7a7a7a">(0)</span></span></a></div>
                            <div style="float: left;margin-top:10px;font-size:13px;width: 30%;color: #7a7a7a">发行日期</div>
                            <div style="float: left;margin-top:10px;font-size:13px;width: 60%"><span
                                    style="color:#bebebe;" th:text="${game.time}"></span></div>
                            <div style="float: left;margin-top:2px;font-size:13px;width: 30%;color: #7a7a7a">开发商</div>
                            <div style="float: left;margin-top:2px;font-size:13px;width: 60%">
                                <a th:href="'/companies/'+${game.info.companyName}">
                                    <span id="companyName" th:text="${game.info.companyName}"></span>
                                </a>
                                <span id="cid" hidden th:text="${game.info.company}"></span>
                            </div>
                            <div style="float: left;margin-top:10px;font-size:13px;width: 100%;color: #7a7a7a">该产品分类标签
                            </div>
                            <div style="float: left;margin-top:2px;width: 100%;font-size:13px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis">
                                <a th:each="stat,index:${game.tags}" th:href="'/classes/'+${stat}">
                                    <button type="button" class="fontTitle"
                                            style="width: 40px ;margin-right: 10px;height: 20px;font-size: 7px;background-color: #2e6da4;border: 1px solid #2e6da4;border-radius: 3px"
                                            value="" th:text="${stat}">
                                        分类
                                    </button>
                                </a>


                            </div>
                            <div class="col-lg-12" style="margin-top: 5px">
                                <button onclick="addCart()"
                                        style="width: 150px ;height: 40px;font-size: 7px;background-color: #2ba431;border: 1px solid #2ba431;border-radius: 3px">
                                    <img src="/images/cart_empty.png" alt="" style="width: 20px;height: 20px">
                                    <span th:text="${cart}" class="fontTitle"
                                          style="font-size: 13px"></span>
                                </button>
                                <span th:if="${game.info.discount}!=''"
                                      style="text-decoration: line-through;color: #a4a4a4"
                                      th:text="${game.info.cost}"></span>
                                <span style="background-color: #008000" th:text="${game.info.discount}"></span>
                                <span style="color: white;font-size: 20px;" th:text="${game.info.price}"></span>

                            </div>

                        </div>

                    </div>

                </div>
                <!--模块二：游戏商品介绍-->
                <div class="col-lg-12" style="margin-top: 50px">
                    <!--左-->
                    <div class="col-lg-8" style="">
                        <!--查看所有产品-->
                        <div class="fontTitle"
                             style="width: 97% ;height: 60px;background-color: #000000;border-radius: 5px;line-height: 60px;font-size: 14px;font-weight: bold;padding-left: 35px">
                            查看发行商上的所有产品
                        </div>
                        <!--游戏介绍-->
                        <div class="fontTitle" style="margin-top: 40px;font-size: 16px">游戏介绍</div>
                        <div style="margin-top: 2px;background: linear-gradient(90deg,#bf7000,rgba(0,25,255,0));height: 2px;width: 97%"></div>
                        <div style="width: 97%;font-size: 15px;color:#7A7A7A;">
                            <div th:utext="${game.info.detail}"></div>
                        </div>
                        <!--游戏硬件要求-->
                        <div class="fontTitle" style="margin-top: 40px;font-size: 16px">硬件要求</div>
                        <div style="margin-top: 2px;background: linear-gradient(90deg,#bf7000,rgba(0,25,255,0));height: 2px;width: 97%"></div>
                        <div style="width: 97%;font-size: 15px;color:#7A7A7A;">
                            <div th:utext="${game.info.configuration}"></div>

                        </div>
                        <!--相似推荐-->
                        <div class="fontTitle" style="margin-top: 40px;font-size: 16px">相似推荐</div>
                        <div style="margin-top: 2px;background: linear-gradient(90deg,#bf7000,rgba(0,25,255,0));height: 2px;width: 97%"></div>
                        <div class="col-lg-4" th:each="s,stat:${similar}"
                             style="margin-top: 40px;padding: 1px">
                            <a th:href="'/games/'+${s.gid}">
                                <div style="padding: 10px;background-color: rgba(8,19,29,0.39)">
                                    <img th:src="'/upload/gameImg/'+${s.cover}" alt="" height="80px" width="100%">
                                    <div th:text="${s.name}"></div>
                                    <span style="background-color: #008000" th:text="${s.discount}"></span>
                                    <span style="text-decoration: line-through;color: #a4a4a4"
                                          th:text="${s.discount}==''?'':${s.cost}"></span>
                                    <span class="fontTitle" th:text="${s.price}"></span>
                                </div>
                            </a>
                        </div>


                    </div>
                    <!--右-->
                    <div class="col-lg-4" style="">
                        <!--支持的语言-->
                        <div class="col-lg-12" style=";padding:10px;background-color: #02030557">
                            <div class="fontTitle">语言</div>
                            <!--加入th-->
                            <div style="font-size: 11px">
                                <table th:utext="${game.info.language}"></table>
                            </div>

                        </div>
                        <!--游戏评分-->
                        <div class="col-lg-12" style=";margin-top: 10px;padding:10px;background-color: #02030557">
                            <div class="fontTitle">评分</div>

                            <div>

                                <div style="padding-left: 20%;color: #7A7A7A">画质: <span>⭐⭐⭐⭐⭐</span><span
                                        style="color: #a7a7a7">(154)</span></div>
                                <div style="padding-left: 20%;color: #7A7A7A">剧情: <span>⭐⭐⭐⭐</span><span
                                        style="color: #a7a7a7">(154)</span></div>
                                <div style="padding-left: 20%;color: #7A7A7A">手感: <span>⭐⭐⭐</span><span
                                        style="color: #a7a7a7">(154)</span></div>
                                <div style="padding-left: 20%;color: #7A7A7A">音乐: <span>⭐⭐</span><span
                                        style="color: #a7a7a7">(154)</span></div>


                            </div>
                            <hr style="margin-bottom:3px;margin-top: 2px">
                            <div style="text-align: center;font-size: 40px;color: #d27b00;font-weight: bold;font-style: italic;line-height: 40px">
                                9.8
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="border-color: #454545;margin-bottom: 10px">
    <!--模块三：消费者评价-->
    <div class="container" style="width: 60%;">
        <div class=" row">
            <div class="col-lg-12" style="margin-top: 10px;">
                <!--评论导航条-->
                <div class="col-lg-12 "
                     style="height: 60px;padding: 10px;background-color: rgba(0,22,37,0.25);box-shadow: 0px 0px 2px 2px #c2860a">
                    <div class="col-lg-8 ">
                        <div class="fontTitle" style="font-weight: bold">全体总评<span>(15055)</span></div>
                        <div style="float: left;color: #606060">好评(151)</div>
                        <div style="float: left;color: #606060;margin-left: 10px">差评(151)</div>

                    </div>
                    <div class="col-lg-4 fontTitle" style="font-weight: bold">
                        <div class="fontTitle" style="font-weight: bold">最近一个月评论<span>(45)</span></div>
                        <div style="float: left;color: #606060">好评(5)</div>
                        <div style="float: left;color: #606060;margin-left: 10px">差评(1)</div>
                    </div>
                </div>
                <!--评论分页按钮-->
                <div>
                    <button style="width: 80px ;height: 30px;font-size: 7px;background-color: #004ca4;border: 1px solid #004ca4;border-radius: 3px;box-shadow: 0px 0px 1px 1px black;">
                        <img src="/fonts/smile.svg" alt="" style="width: 15px;height: 15px">
                        <span class="fontTitle" style="font-size: 13px">好评</span>
                    </button>
                    <button style="width: 80px ;height: 30px;font-size: 7px;background-color: #a42b2b;border: 1px solid #a42b2b;border-radius: 3px;box-shadow: 0px 0px 1px 1px black;">
                        <img src="/fonts/bad.svg" alt="" style="width: 15px;height: 15px">
                        <span class="fontTitle" style="font-size: 13px">差评</span>
                    </button>
                </div>

                <!--按赞排名评论-->
                <div class="col-lg-8" style="padding-right: 10px">
                    <div class="fontTitle" style="font-size: 15px;margin-top: 20px">最有价值的评论</div>
                    <!--一条评论-->
                    <div class="col-lg-12"
                         style="margin-bottom: 20px;background-color: #16202d;box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.45)">
                        <div class="col-lg-4" style="padding:10px 0px 0px 10px">
                            <div style="float: left;height: 50px">
                                <img src="/images/user.jpg" alt=""
                                     style="width: 35px;height: 35px;box-shadow:0px 0px 2px 2px #7d7d7d"></div>
                            <div>
                                <div style="font-weight: bold;font-style: italic">用户名字</div>
                                <div>账户里有xx款游戏</div>
                                <div>22条测评</div>
                            </div>
                        </div>
                        <div class="col-lg-8" style="padding:10px 0px 0px 10px">
                            <div>发布时间：2020-1-1</div>
                            <div style="color: #6094c0;font-size: 14px;margin-top: 2px">
                                评论内容5545454651651541564156465465456456465465
                                评论内容5545454651651541564156465465456456465465评论内容5545454651651541564156465465456456465465
                                评论内容5545454651651541564156465465456456465465
                            </div>
                            <hr style="margin: 5px 0px 5px 0px;border-color: #7A7A7A">
                            <div>评价此观点
                                <button class="assess"
                                        style="font-size: 7px;background-color: rgba(228,243,242,0.11);border: 1px solid rgba(161,164,163,0);border-radius: 3px;color: #b2bac3">
                                    <img src="/fonts/agree.svg" alt="" style="height: 16px;width: 16px;">赞同
                                </button>
                                <button class="assess"
                                        style="font-size: 7px;background-color: rgba(228,243,242,0.11);border: 1px solid rgba(161,164,163,0);border-radius: 3px;color: #afbac3">
                                    <img src="/fonts/agree.svg" alt=""
                                         style="height: 16px;width: 16px;transform: rotateX(180deg);">反对
                                </button>
                                <button class="assess"
                                        style="font-size: 7px;background-color: rgba(228,243,242,0.11);border: 1px solid rgba(161,164,163,0);border-radius: 3px;color: #afbac3">
                                    <img src="/fonts/report.svg" alt="" style="height: 16px;width: 16px;">举报
                                </button>
                            </div>
                            <div style="margin-top: 3px">113人赞同此观点</div>
                            <div>43人反对此观点</div>
                            <div style="height: 45px;background-color: #00000054;margin: 0 auto;display: flex; align-items:center;">
                                <img src="/fonts/recall.svg" alt="" height="30px" width="30px">
                                此观点有0条回复
                            </div>
                        </div>
                    </div>


                </div>
                <!--按时间排名评论-->
                <div class="col-lg-4">
                    <div class="fontTitle" style="font-size: 15px;margin-top: 20px">最新评论 <span style="color: #7A7A7A">(最近一个月)</span>
                    </div>
                    <!--评论-->
                    <div class="col-lg-12"
                         style="margin-bottom: 20px;background-color: #16202d;box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.45)">
                        <div style="background-color: #2b669a;padding: 5px;">玩家名字
                            <span style="float: right">2016-5-9 18:24</span></div>
                        <div style="padding: 5px;">
                            <div style="color: #6094c0;">这里是消费者的评论内容但是发射点发射点发大水发啊手动阀撒打发阿松大但是</div>
                            <hr style="margin: 5px 0px 5px 0px;border-color: #7A7A7A">
                            <div>评价此观点
                                <button class="assess"
                                        style="font-size: 7px;background-color: rgba(228,243,242,0.11);border: 1px solid rgba(161,164,163,0);border-radius: 3px;color: #b2bac3">
                                    <img src="/fonts/agree.svg" alt="" style="height: 16px;width: 16px;">赞同
                                </button>
                                <button class="assess"
                                        style="font-size: 7px;background-color: rgba(228,243,242,0.11);border: 1px solid rgba(161,164,163,0);border-radius: 3px;color: #afbac3">
                                    <img src="/fonts/agree.svg" alt=""
                                         style="height: 16px;width: 16px;transform: rotateX(180deg);">反对
                                </button>
                                <button class="assess"
                                        style="font-size: 7px;background-color: rgba(228,243,242,0.11);border: 1px solid rgba(161,164,163,0);border-radius: 3px;color: #afbac3">
                                    <img src="/fonts/report.svg" alt="" style="height: 16px;width: 16px;">举报
                                </button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>


    </div>
</div>
</div>
</div>


<!--页脚信息-->
<footer th:replace="show/common::footer"></footer>
<!--页脚信息-->

</div>
</body>
<script src="/js/alert.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        $("#hl1").text("游戏详情");
        $('#searchAll').bind('keyup', function (event) {
            if (event.keyCode == "13") {

                location.href = "/search/" + $("#searchAll").val();

            }
        });
        $('#divBg').css('background', "url(/upload/gameImg/" + $("#bgValue").text() + " ) no-repeat center top");

        $(".assess").mouseover(function () {

            $(this).css("background-color", "rgba(70,121,170,0.64)");
        })
        $(".assess").mouseout(function () {

            $(this).css("background-color", "rgba(228,243,242,0.11)");
        })
        $("#headerNav").css("box-shadow", "0 20px 20px rgba(0, 112, 255, 0.51)");
        $('#hl1').removeClass('active');


        $("#videoDiv").mouseover(function () {
            $("#poster").fadeOut(300);
            $("#gameVideo").trigger('play');//播放视频

        });
        $("#videoDiv").mouseout(function () {

            $("#poster").fadeIn(300);
            $("#gameVideo").trigger('pause');

        })

    });

    function changeShowImg(id) {
        $('#videoDiv').hide();
        $('#imageDiv').fadeIn(250);
        $('.showImg').hide();
        $('#showImg' + id).fadeIn(250);
    }

    function changeShowVideo() {

        $('#imageDiv').hide();
        $('#videoDiv').fadeIn(250);

    }


    function addCart() {
        $.ajax({
            url: "/cart/add",
            method: "post",
            data: {
                cid: $("#cid").text(),
                company: $("#companyName").text(),
                gid: [[${game.info.gid}]],
                game: [[${game.info.name}]],
                cost: [[${game.info.cost}]],
                price: [[${game.info.price}]],
                cover: [[${game.info.cover}]],
            },
            success: function (response) {
                testInner(3, response.msg)
                setTimeout(function () {
                    window.location.reload();
                }, 5000);

            },
            error: function () {
                testInner(3, '添加失败')

            }
        });

    }


</script>


</html>